<div class="bg-gray-300 rounded-2xl shadow-sm p-4 w-106 mb-4">
  <div class="pb-3 font-bold px-2 text-xl flex items-end">
    <div class="text-4xl px-2 w-1/3 text-center" data-testid="bidding-panel-board-number">
      {{ number() }}
    </div>
    <div class="px-2 text-center w-2/3">
      {{ handTurn() }}
    </div>
  </div>

  <mat-divider />

  <div class="flex py-2">
    <div
      class="bidding-button"
      data-testid="bid-pass"
      matRipple
      (click)="selectNotValue(false, 'PASS')"
    >
      <span class="text-xl pass font-bold"> PASS </span>
    </div>
    <div
      class="bidding-button double"
      data-testid="bid-double"
      [class.bidding-button-disabled]="doubleDisabled()"
      matRipple
      [matRippleDisabled]="doubleDisabled()"
      (click)="selectNotValue(doubleDisabled(), 'X')"
    >
      <span class="text-xl font-bold"> X </span>
    </div>
    <div
      class="bidding-button redouble"
      data-testid="bid-redouble"
      [class.bidding-button-disabled]="redoubleDisabled()"
      matRipple
      [matRippleDisabled]="redoubleDisabled()"
      (click)="selectNotValue(redoubleDisabled(), 'XX')"
    >
      <span class="text-xl font-bold"> XX </span>
    </div>
  </div>

  <mat-divider />

  <div class="flex py-2">
    @for (level of levels(); track level) {
      <div
        class="bidding-button"
        [attr.data-testid]="'bid-level-' + level"
        [class.bidding-button-selected]="selectedLevel() === level"
        [class.bidding-button-disabled]="minLevel() > level"
        matRipple
        [matRippleDisabled]="minLevel() > level"
        (click)="selectLevel(minLevel() > level, level)"
      >
        <span class="text-xl font-bold"> {{ level }}</span>
      </div>
    }
  </div>

  <mat-divider />

  <div class="flex pt-2">
    @for (denomination of denominations(); track denomination.name) {
      <div
        class="bidding-button"
        [attr.data-testid]="'bid-suit-' + denomination.name"
        [class]="denomination.name === 'NT' ? `${denomination.name}` : `${denomination.name}`"
        [class.bidding-button-disabled]="lastDenominationSeniority() >= denomination.seniority"
        matRipple
        [matRippleDisabled]="lastDenominationSeniority() >= denomination.seniority"
        (click)="
          selectDenomination(
            lastDenominationSeniority() >= denomination.seniority,
            denomination.name
          )
        "
      >
        <span class="font-bold text-2xl">{{ denomination.symbol }}</span>
      </div>
    }
  </div>
</div>
