<div class="shadow-sm rounded-2xl bg-gray-300 flex p-2 min-h-25" data-testid="bidding-table">
  <div class="w-1/4 border-r text-center" data-testid="bidding-column-North">
    <span class="hand-name-label non-vulnerable" [class.vulnerable]="isNSVulnerable()">
      North
    </span>

    <div class="value-column">
      @if (colSpans() > 0) {
        <div>
          <span class="text-gray-300">-</span>
        </div>
      }

      @for (item of northHistory(); track $index) {
        <div class="mt-1">
          <span
            matBadge="{{ item.alertInfo ? '!' : null }}"
            class="bidding-value"
            data-testid="bidding-entry"
            (click)="openAlertDialog(item)"
          >
            {{ item.biddingValue }} <span [class]="item.color">{{ item.suit }}</span>
          </span>
        </div>
      }
    </div>
  </div>

  <div class="w-1/4 border-r text-center" data-testid="bidding-column-East">
    <span class="hand-name-label non-vulnerable" [class.vulnerable]="isEWVulnerable()"> East </span>

    <div class="value-column">
      @if (colSpans() > 1) {
        <div>
          <span class="text-gray-300">-</span>
        </div>
      }
      @for (item of eastHistory(); track $index) {
        <div class="mt-1">
          <span
            matBadge="{{ item.alertInfo ? '!' : null }}"
            class="bidding-value"
            data-testid="bidding-entry"
            (click)="openAlertDialog(item)"
          >
            {{ item.biddingValue }} <span [class]="item.color">{{ item.suit }}</span>
          </span>
        </div>
      }
    </div>
  </div>

  <div class="w-1/4 border-r text-center" data-testid="bidding-column-South">
    <span class="hand-name-label non-vulnerable" [class.vulnerable]="isNSVulnerable()">
      South
    </span>

    <div class="value-column">
      @if (colSpans() > 2) {
        <div>
          <span class="text-gray-300">-</span>
        </div>
      }
      @for (item of southHistory(); track $index) {
        <div class="mt-1">
          <span
            matBadge="{{ item.alertInfo ? '!' : null }}"
            class="bidding-value"
            data-testid="bidding-entry"
            (click)="openAlertDialog(item)"
          >
            {{ item.biddingValue }} <span [class]="item.color">{{ item.suit }}</span>
          </span>
        </div>
      }
    </div>
  </div>

  <div class="w-1/4 text-center" data-testid="bidding-column-West">
    <span class="hand-name-label non-vulnerable" [class.vulnerable]="isEWVulnerable()"> West </span>

    <div class="value-column">
      @for (item of westHistory(); track $index) {
        <div class="mt-1">
          <span
            matBadge="{{ item.alertInfo ? '!' : null }}"
            class="bidding-value"
            data-testid="bidding-entry"
            (click)="openAlertDialog(item)"
          >
            {{ item.biddingValue }} <span [class]="item.color">{{ item.suit }}</span>
          </span>
        </div>
      }
    </div>
  </div>
</div>
